## Anthropic
# ANTHROPIC_API_KEY=sk-ant-...

## OpenAI
# OPENAI_API_KEY=sk-...
# OPENAI_BASE_URL=https://api.deepseek.com  # uncomment for DeepSeek

## DeepSeek using OpenAI-compatible API
# OPENAI_API_KEY=sk-110e6865c1fe46c5896ac9bd76cdd5ea
# OPENAI_BASE_URL=https://api.deepseek.com  # uncomment for DeepSeek

## Azure OpenAI
# AZURE_OPENAI_ENDPOINT=https://<resource>.openai.azure.com
# AZURE_OPENAI_API_KEY=...
# AZURE_OPENAI_API_VERSION=2024-08-01-preview
# AZURE_OPENAI_DEPLOYMENT=gpt-4o
